src/main/java/NoticiaSIBService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<definitions targetNamespace="http://service.example.org/" name="NoticiaSIBService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.example.org/" schemaLocation="NoticiaSIBService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="apagar">
    <part name="parameters" element="tns:apagar"/>
  </message>
  <message name="apagarResponse">
    <part name="parameters" element="tns:apagarResponse"/>
  </message>
  <message name="adicionar">
    <part name="parameters" element="tns:adicionar"/>
  </message>
  <message name="adicionarResponse">
    <part name="parameters" element="tns:adicionarResponse"/>
  </message>
  <message name="listar">
    <part name="parameters" element="tns:listar"/>
  </message>
  <message name="listarResponse">
    <part name="parameters" element="tns:listarResponse"/>
  </message>
  <message name="alterar">
    <part name="parameters" element="tns:alterar"/>
  </message>
  <message name="alterarResponse">
    <part name="parameters" element="tns:alterarResponse"/>
  </message>
  <message name="ler">
    <part name="parameters" element="tns:ler"/>
  </message>
  <message name="lerResponse">
    <part name="parameters" element="tns:lerResponse"/>
  </message>
  <portType name="NoticiaSEI">
    <operation name="apagar">
      <input wsam:Action="http://service.example.org/NoticiaSEI/apagarRequest" message="tns:apagar"/>
      <output wsam:Action="http://service.example.org/NoticiaSEI/apagarResponse" message="tns:apagarResponse"/>
    </operation>
    <operation name="adicionar">
      <input wsam:Action="http://service.example.org/NoticiaSEI/adicionarRequest" message="tns:adicionar"/>
      <output wsam:Action="http://service.example.org/NoticiaSEI/adicionarResponse" message="tns:adicionarResponse"/>
    </operation>
    <operation name="listar">
      <input wsam:Action="http://service.example.org/NoticiaSEI/listarRequest" message="tns:listar"/>
      <output wsam:Action="http://service.example.org/NoticiaSEI/listarResponse" message="tns:listarResponse"/>
    </operation>
    <operation name="alterar">
      <input wsam:Action="http://service.example.org/NoticiaSEI/alterarRequest" message="tns:alterar"/>
      <output wsam:Action="http://service.example.org/NoticiaSEI/alterarResponse" message="tns:alterarResponse"/>
    </operation>
    <operation name="ler">
      <input wsam:Action="http://service.example.org/NoticiaSEI/lerRequest" message="tns:ler"/>
      <output wsam:Action="http://service.example.org/NoticiaSEI/lerResponse" message="tns:lerResponse"/>
    </operation>
  </portType>
  <binding name="NoticiaSIBPortBinding" type="tns:NoticiaSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="apagar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="adicionar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="alterar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NoticiaSIBService">
    <port name="NoticiaSIBPort" binding="tns:NoticiaSIBPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

